
.main_content {
    text-align: center;   
}

h2 {
    color: rgb(184, 3, 3);
    padding: 20px 0;    
}

.movie_content {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 800px;
    margin: auto;  
    gap: 40px 5px;
}

